.passon-icon {
	width:16px;
	height:16px;
}
.passon-twitter {
	background:url(twitter.gif) top left no-repeat;/*ICON*/
}
.passon-facebook {
	background:url(facebook.gif) top left no-repeat;/*ICON*/
}
.passon-vz {
	background:url(vz.gif) top left no-repeat;/*ICON*/
}
.passon-myspace {
	background:url(myspace.gif) top left no-repeat;/*ICON*/
}
.passon-delicious {
	background:url(delicious.gif) top left no-repeat;/*ICON*/
}
.passon-digg {
	background:url(digg.gif) top left no-repeat;/*ICON*/
}
.passon-folkd {
	background:url(folkd.gif) top left no-repeat;/*ICON*/
}
.passon-google {
	background:url(google.gif) top left no-repeat;/*ICON*/
}
.passon-linkarena {
	background:url(linkarena.gif) top left no-repeat;/*ICON*/
}
.passon-misterwong {
	background:url(misterwong.gif) top left no-repeat;/*ICON*/
}
.passon-newsvine {
	background:url(newsvine.gif) top left no-repeat;/*ICON*/
}
.passon-reddit {
	background:url(reddit.gif) top left no-repeat;/*ICON*/
}
.passon-stumbleupon {
	background:url(stumbleupon.gif) top left no-repeat;/*ICON*/
}
.passon-windows {
	background:url(windows.gif) top left no-repeat;/*ICON*/
}
.passon-yahoo {
	background:url(yahoo.gif) top left no-repeat;/*ICON*/
}
.passon-yigg {
	background:url(yigg.gif) top left no-repeat;/*ICON*/
}
