.flag {
	width:16px;
	height:11px;
	background:transparent url(_-out.png.png) top left no-repeat;
}
.flag .flag-ad {
	background-position:0 0;
}
.flag .flag-ae {
	background-position:0 -11px;
}
.flag .flag-af {
	background-position:0 -22px;
}
.flag .flag-ag {
	background-position:0 -33px;
}
.flag .flag-ai {
	background-position:0 -44px;
}
.flag .flag-al {
	background-position:0 -55px;
}
.flag .flag-am {
	background-position:0 -66px;
}
.flag .flag-an {
	background-position:0 -77px;
}
.flag .flag-ao {
	background-position:0 -88px;
}
.flag .flag-ar {
	background-position:0 -99px;
}
.flag .flag-as {
	background-position:0 -110;
}
.flag .flag-at {
	background-position:0 -121px;
}
.flag .flag-au {
	background-position:0 -132px;
}
.flag .flag-aw {
	background-position:0 -143px;
}
.flag .flag-ax {
	background-position:0 -154px;
}
.flag .flag-az {
	background-position:0 -165px;
}
.flag .flag-ba {
	background-position:0 -176px;
}
.flag .flag-bb {
	background-position:0 -187px;
}
.flag .flag-bd {
	background-position:0 -198px;
}
.flag .flag-be {
	background-position:0 -209px;
}
.flag .flag-bf {
	background-position:0 -220;
}
.flag .flag-bg {
	background-position:0 -231px;
}
.flag .flag-bh {
	background-position:0 -242px;
}
.flag .flag-bi {
	background-position:0 -253px;
}
.flag .flag-bj {
	background-position:0 -264px;
}
.flag .flag-blank {
	background-position:0 -275px;
}
.flag .flag-bm {
	background-position:0 -286px;
}
.flag .flag-bn {
	background-position:0 -297px;
}
.flag .flag-bo {
	background-position:0 -308px;
}
.flag .flag-br {
	background-position:0 -319px;
}
.flag .flag-bs {
	background-position:0 -330;
}
.flag .flag-bt {
	background-position:0 -341px;
}
.flag .flag-bul {
	background-position:0 -352px;
}
.flag .flag-bv {
	background-position:0 -363px;
}
.flag .flag-bw {
	background-position:0 -374px;
}
.flag .flag-by {
	background-position:0 -385px;
}
.flag .flag-bz {
	background-position:0 -396px;
}
.flag .flag-ca {
	background-position:0 -407px;
}
.flag .flag-catalonia {
	background-position:0 -418px;
}
.flag .flag-cc {
	background-position:0 -429px;
}
.flag .flag-cd {
	background-position:0 -440;
}
.flag .flag-cf {
	background-position:0 -451px;
}
.flag .flag-cg {
	background-position:0 -462px;
}
.flag .flag-ch {
	background-position:0 -473px;
}
.flag .flag-chi {
	background-position:0 -484px;
}
.flag .flag-ci {
	background-position:0 -495px;
}
.flag .flag-ck {
	background-position:0 -506px;
}
.flag .flag-cl {
	background-position:0 -517px;
}
.flag .flag-cm {
	background-position:0 -528px;
}
.flag .flag-cn {
	background-position:0 -539px;
}
.flag .flag-co {
	background-position:0 -550;
}
.flag .flag-cr {
	background-position:0 -561px;
}
.flag .flag-cs {
	background-position:0 -572px;
}
.flag .flag-cu {
	background-position:0 -583px;
}
.flag .flag-cv {
	background-position:0 -594px;
}
.flag .flag-cx {
	background-position:0 -605px;
}
.flag .flag-cy {
	background-position:0 -616px;
}
.flag .flag-cze {
	background-position:0 -627px;
}
.flag .flag-cz {
	background-position:0 -638px;
}
.flag .flag-dan {
	background-position:0 -649px;
}
.flag .flag-de {
	background-position:0 -660;
}
.flag .flag-dj {
	background-position:0 -671px;
}
.flag .flag-dk {
	background-position:0 -682px;
}
.flag .flag-dm {
	background-position:0 -693px;
}
.flag .flag-do {
	background-position:0 -704px;
}
.flag .flag-dz {
	background-position:0 -715px;
}
.flag .flag-ec {
	background-position:0 -726px;
}
.flag .flag-ee {
	background-position:0 -737px;
}
.flag .flag-eg {
	background-position:0 -748px;
}
.flag .flag-eh {
	background-position:0 -759px;
}
.flag .flag-en {
	background-position:0 -770;
}
.flag .flag-england {
	background-position:0 -781px;
}
.flag .flag-er {
	background-position:0 -792px;
}
.flag .flag-es {
	background-position:0 -803px;
}
.flag .flag-esp {
	background-position:0 -814px;
}
.flag .flag-et {
	background-position:0 -825px;
}
.flag .flag-eu {
	background-position:0 -836px;
}
.flag .flag-europeanunion {
	background-position:0 -847px;
}
.flag .flag-fam {
	background-position:0 -858px;
}
.flag .flag-fi {
	background-position:0 -869px;
}
.flag .flag-fin {
	background-position:0 -880;
}
.flag .flag-fj {
	background-position:0 -891px;
}
.flag .flag-fk {
	background-position:0 -902px;
}
.flag .flag-fm {
	background-position:0 -913px;
}
.flag .flag-fo {
	background-position:0 -924px;
}
.flag .flag-fra {
	background-position:0 -935px;
}
.flag .flag-fr {
	background-position:0 -946px;
}
.flag .flag-ga {
	background-position:0 -957px;
}
.flag .flag-gb {
	background-position:0 -968px;
}
.flag .flag-gd {
	background-position:0 -979px;
}
.flag .flag-ge {
	background-position:0 -990;
}
.flag .flag-ger {
	background-position:0 -1001px;
}
.flag .flag-gf {
	background-position:0 -1012px;
}
.flag .flag-gh {
	background-position:0 -1023px;
}
.flag .flag-gi {
	background-position:0 -1034px;
}
.flag .flag-gl {
	background-position:0 -1045px;
}
.flag .flag-gm {
	background-position:0 -1056px;
}
.flag .flag-gn {
	background-position:0 -1067px;
}
.flag .flag-gp {
	background-position:0 -1078px;
}
.flag .flag-gq {
	background-position:0 -1089px;
}
.flag .flag-gr {
	background-position:0 -1100;
}
.flag .flag-grk {
	background-position:0 -1111px;
}
.flag .flag-gs {
	background-position:0 -1122px;
}
.flag .flag-gt {
	background-position:0 -1133px;
}
.flag .flag-gu {
	background-position:0 -1144px;
}
.flag .flag-gw {
	background-position:0 -1155px;
}
.flag .flag-gy {
	background-position:0 -1166px;
}
.flag .flag-hk {
	background-position:0 -1177px;
}
.flag .flag-hm {
	background-position:0 -1188px;
}
.flag .flag-hn {
	background-position:0 -1199px;
}
.flag .flag-hr {
	background-position:0 -1210;
}
.flag .flag-ht {
	background-position:0 -1221px;
}
.flag .flag-hu {
	background-position:0 -1232px;
}
.flag .flag-hun {
	background-position:0 -1243px;
}
.flag .flag-id {
	background-position:0 -1254px;
}
.flag .flag-ie {
	background-position:0 -1265px;
}
.flag .flag-il {
	background-position:0 -1276px;
}
.flag .flag-ind {
	background-position:0 -1287px;
}
.flag .flag-in {
	background-position:0 -1298px;
}
.flag .flag-io {
	background-position:0 -1309px;
}
.flag .flag-iq {
	background-position:0 -1320;
}
.flag .flag-ir {
	background-position:0 -1331px;
}
.flag .flag-is {
	background-position:0 -1342px;
}
.flag .flag-ita {
	background-position:0 -1353px;
}
.flag .flag-it {
	background-position:0 -1364px;
}
.flag .flag-jap {
	background-position:0 -1375px;
}
.flag .flag-jm {
	background-position:0 -1386px;
}
.flag .flag-jo {
	background-position:0 -1397px;
}
.flag .flag-jp {
	background-position:0 -1408px;
}
.flag .flag-ke {
	background-position:0 -1419px;
}
.flag .flag-kg {
	background-position:0 -1430;
}
.flag .flag-kh {
	background-position:0 -1441px;
}
.flag .flag-ki {
	background-position:0 -1452px;
}
.flag .flag-km {
	background-position:0 -1463px;
}
.flag .flag-kn {
	background-position:0 -1474px;
}
.flag .flag-kp {
	background-position:0 -1485px;
}
.flag .flag-kr {
	background-position:0 -1496px;
}
.flag .flag-kw {
	background-position:0 -1507px;
}
.flag .flag-ky {
	background-position:0 -1518px;
}
.flag .flag-kz {
	background-position:0 -1529px;
}
.flag .flag-la {
	background-position:0 -1540;
}
.flag .flag-lb {
	background-position:0 -1551px;
}
.flag .flag-lc {
	background-position:0 -1562px;
}
.flag .flag-li {
	background-position:0 -1573px;
}
.flag .flag-lk {
	background-position:0 -1584px;
}
.flag .flag-lr {
	background-position:0 -1595px;
}
.flag .flag-ls {
	background-position:0 -1606px;
}
.flag .flag-lt {
	background-position:0 -1617px;
}
.flag .flag-lu {
	background-position:0 -1628px;
}
.flag .flag-lv {
	background-position:0 -1639px;
}
.flag .flag-ly {
	background-position:0 -1650;
}
.flag .flag-ma {
	background-position:0 -1661px;
}
.flag .flag-mc {
	background-position:0 -1672px;
}
.flag .flag-md {
	background-position:0 -1683px;
}
.flag .flag-me {
	background-position:0 -1694px;
}
.flag .flag-mg {
	background-position:0 -1706px;
}
.flag .flag-mh {
	background-position:0 -1717px;
}
.flag .flag-mk {
	background-position:0 -1728px;
}
.flag .flag-ml {
	background-position:0 -1739px;
}
.flag .flag-mm {
	background-position:0 -1750;
}
.flag .flag-mn {
	background-position:0 -1761px;
}
.flag .flag-mo {
	background-position:0 -1772px;
}
.flag .flag-mp {
	background-position:0 -1783px;
}
.flag .flag-mq {
	background-position:0 -1794px;
}
.flag .flag-mr {
	background-position:0 -1805px;
}
.flag .flag-ms {
	background-position:0 -1816px;
}
.flag .flag-mt {
	background-position:0 -1827px;
}
.flag .flag-mu {
	background-position:0 -1838px;
}
.flag .flag-mul {
	background-position:0 -1849px;
}
.flag .flag-mv {
	background-position:0 -1860;
}
.flag .flag-mw {
	background-position:0 -1871px;
}
.flag .flag-mx {
	background-position:0 -1882px;
}
.flag .flag-my {
	background-position:0 -1893px;
}
.flag .flag-mz {
	background-position:0 -1904px;
}
.flag .flag-na {
	background-position:0 -1915px;
}
.flag .flag-nc {
	background-position:0 -1926px;
}
.flag .flag-ne {
	background-position:0 -1937px;
}
.flag .flag-nf {
	background-position:0 -1948px;
}
.flag .flag-ng {
	background-position:0 -1959px;
}
.flag .flag-ni {
	background-position:0 -1970;
}
.flag .flag-nl {
	background-position:0 -1981px;
}
.flag .flag-no {
	background-position:0 -1992px;
}
.flag .flag-nor {
	background-position:0 -2003px;
}
.flag .flag-np {
	background-position:0 -2014px;
}
.flag .flag-nr {
	background-position:0 -2025px;
}
.flag .flag-nu {
	background-position:0 -2036px;
}
.flag .flag-nz {
	background-position:0 -2047px;
}
.flag .flag-om {
	background-position:0 -2058px;
}
.flag .flag-pa {
	background-position:0 -2069px;
}
.flag .flag-pe {
	background-position:0 -2080;
}
.flag .flag-pf {
	background-position:0 -2091px;
}
.flag .flag-pg {
	background-position:0 -2102px;
}
.flag .flag-ph {
	background-position:0 -2113px;
}
.flag .flag-pk {
	background-position:0 -2124px;
}
.flag .flag-pl {
	background-position:0 -2135px;
}
.flag .flag-pm {
	background-position:0 -2146px;
}
.flag .flag-pn {
	background-position:0 -2157px;
}
.flag .flag-pol {
	background-position:0 -2168px;
}
.flag .flag-pr {
	background-position:0 -2179px;
}
.flag .flag-ps {
	background-position:0 -2190;
}
.flag .flag-pt {
	background-position:0 -2201px;
}
.flag .flag-pw {
	background-position:0 -2212px;
}
.flag .flag-py {
	background-position:0 -2223px;
}
.flag .flag-qa {
	background-position:0 -2234px;
}
.flag .flag-re {
	background-position:0 -2245px;
}
.flag .flag-ro {
	background-position:0 -2256px;
}
.flag .flag-rs {
	background-position:0 -2267px;
}
.flag .flag-ru {
	background-position:0 -2278px;
}
.flag .flag-rus {
	background-position:0 -2289px;
}
.flag .flag-rw {
	background-position:0 -2300;
}
.flag .flag-sa {
	background-position:0 -2311px;
}
.flag .flag-sb {
	background-position:0 -2322px;
}
.flag .flag-sc {
	background-position:0 -2333px;
}
.flag .flag-scotland {
	background-position:0 -2344px;
}
.flag .flag-sd {
	background-position:0 -2355px;
}
.flag .flag-se {
	background-position:0 -2366px;
}
.flag .flag-sg {
	background-position:0 -2377px;
}
.flag .flag-sh {
	background-position:0 -2388px;
}
.flag .flag-si {
	background-position:0 -2399px;
}
.flag .flag-sj {
	background-position:0 -2410;
}
.flag .flag-sk {
	background-position:0 -2421px;
}
.flag .flag-sl {
	background-position:0 -2432px;
}
.flag .flag-slv {
	background-position:0 -2443px;
}
.flag .flag-sm {
	background-position:0 -2454px;
}
.flag .flag-sn {
	background-position:0 -2465px;
}
.flag .flag-so {
	background-position:0 -2476px;
}
.flag .flag-sr {
	background-position:0 -2487px;
}
.flag .flag-st {
	background-position:0 -2498px;
}
.flag .flag-sv {
	background-position:0 -2509px;
}
.flag .flag-swe {
	background-position:0 -2520;
}
.flag .flag-sy {
	background-position:0 -2531px;
}
.flag .flag-sz {
	background-position:0 -2542px;
}
.flag .flag-tc {
	background-position:0 -2553px;
}
.flag .flag-td {
	background-position:0 -2564px;
}
.flag .flag-tf {
	background-position:0 -2575px;
}
.flag .flag-tg {
	background-position:0 -2586px;
}
.flag .flag-th {
	background-position:0 -2597px;
}
.flag .flag-tj {
	background-position:0 -2608px;
}
.flag .flag-tk {
	background-position:0 -2619px;
}
.flag .flag-tl {
	background-position:0 -2630;
}
.flag .flag-tm {
	background-position:0 -2641px;
}
.flag .flag-tn {
	background-position:0 -2652px;
}
.flag .flag-to {
	background-position:0 -2663px;
}
.flag .flag-tr {
	background-position:0 -2674px;
}
.flag .flag-tt {
	background-position:0 -2685px;
}
.flag .flag-tur {
	background-position:0 -2696px;
}
.flag .flag-tv {
	background-position:0 -2707px;
}
.flag .flag-tw {
	background-position:0 -2718px;
}
.flag .flag-tz {
	background-position:0 -2729px;
}
.flag .flag-ua {
	background-position:0 -2740;
}
.flag .flag-ug {
	background-position:0 -2751px;
}
.flag .flag-ukr {
	background-position:0 -2762px;
}
.flag .flag-um {
	background-position:0 -2773px;
}
.flag .flag-unknown {
	background-position:0 -2784px;
}
.flag .flag-us {
	background-position:0 -2795px;
}
.flag .flag-uy {
	background-position:0 -2806px;
}
.flag .flag-uz {
	background-position:0 -2817px;
}
.flag .flag-va {
	background-position:0 -2828px;
}
.flag .flag-vc {
	background-position:0 -2839px;
}
.flag .flag-ve {
	background-position:0 -2850;
}
.flag .flag-vg {
	background-position:0 -2861px;
}
.flag .flag-vi {
	background-position:0 -2872px;
}
.flag .flag-vn {
	background-position:0 -2883px;
}
.flag .flag-vu {
	background-position:0 -2894px;
}
.flag .flag-wales {
	background-position:0 -2905px;
}
.flag .flag-wf {
	background-position:0 -2916px;
}
.flag .flag-ws {
	background-position:0 -2927px;
}
.flag .flag-ye {
	background-position:0 -2938px;
}
.flag .flag-yt {
	background-position:0 -2949px;
}
.flag .flag-za {
	background-position:0 -2960;
}
.flag .flag-zm {
	background-position:0 -2971px;
}
.flag .flag-zw {
	background-position:0 -2982px;
}
