/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
	margin:0px;
	padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	margin:5px 0 5px 0;
}
.T-white .markItUp  {
	border:5px solid #f5f5f5;
}
.T-black .markItUp  {
	border:5px solid #070a0a;
}
.markItUpContainer  {
	border:1px solid #3C769D;	
	padding:5px 5px 2px 5px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.T-base-white .markItUpContainer  {
	background:#fff url(white/container.png) repeat-x top left;
}
.T-base-black .markItUpContainer  {
	background:#000 url(black/container.png) repeat-x top left;
}
.markItUpEditor {
	border:2px solid #3c769d;
	width:99%;
	height:170px;
	clear:both;
	line-height:18px;
	overflow:auto;
}
.T-white .markItUpEditor {
	background:#dddddd;
}
.T-black .markItUpEditor {
	background:#070a0a;
}
.markItUpPreviewFrame {
	overflow:auto;
	text-align:left;
	border:1px solid #3c769d;
	width:99.9%;
	height:200px;
	margin:5px 0;
}
.T-base-white .markItUpPreviewFrame {
	background:#f0efef;
}
.T-base-white .markItUpPreviewFrame a {
	color:inherit;
}
.T-base-black .markItUpPreviewFrame {
	background:#100f0f;
}
.T-base-black .markItUpPreviewFrame a {
	color:inherit;
}

.markItUpFooter {
	width:100%;
	cursor:n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px;
	height:5px;
	margin-left:auto;
	margin-right:auto;
	cursor:n-resize;
	background-image:url(handle.png);
}

/***************************************************************************************/
/* first row of buttons */
.markItUpHeader {
	display:block;
	width:100%;
	height:22px;
}
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li ul{
	display:none;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto;
	height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px;
	left:0px;	
	background:#F5F5F5;
	border:1px solid #3C769D;
	height:inherit;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#F5F5F5 url(submenu.png) no-repeat 100% 50%;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px;
	left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px;
	height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#3C769D;
}




.bbcode .markItUpButton1x6 ul { width:81px; padding:1px; }
.bbcode .markItUpButton1x6  li { border:1px solid white; width:25px; height:25px; overflow:hidden; padding:0px; margin:0px; float:left; }
.bbcode .markItUpButton1x6 ul a { width:25px; height:25px; background-image:none !important; }
.bbcode .markItUpButton1x6 ul a:hover { background-color:none; }
.bbcode .markItUpButton1x6 .col1-1 a { background:yellow !important; }
.bbcode .markItUpButton1x6 .col1-2 a { background:orange !important; }
.bbcode .markItUpButton1x6 .col1-3 a { background:red !important; }
.bbcode .markItUpButton1x6 .col2-1 a { background:blue !important; }
.bbcode .markItUpButton1x6 .col2-2 a { background:purple !important; }
.bbcode .markItUpButton1x6 .col2-3 a { background:green !important; }
.bbcode .markItUpButton1x6 .col3-1 a { background:white !important; }
.bbcode .markItUpButton1x6 .col3-2 a { background:gray !important; }
.bbcode .markItUpButton1x6 .col3-3 a { background:black !important; }
.bbcode .markItUpButton1x7 ul a { background-image:none !important; width:105px; overflow:hidden; padding:0px; margin:0px; }

.markItUp .markItUpButton2x1 a	{ background-image:url(/img/smileys/skype/emoticon-0100-smile.gif); }
.markItUp .markItUpButton2x2 a	{ background-image:url(/img/smileys/skype/emoticon-0105-wink.gif); }
.markItUp .markItUpButton2x3 a	{ background-image:url(/img/smileys/skype/emoticon-0108-speechless.gif); }
.markItUp .markItUpButton2x4 a	{ background-image:url(/img/smileys/skype/emoticon-0101-sadsmile.gif); }
.markItUp .markItUpButton2x5 a	{ background-image:url(/img/smileys/skype/ueberrrascht.gif); }
.markItUp .markItUpButton2x6 a	{ background-image:url(/img/smileys/skype/emoticon-0110-tongueout.gif); }
.markItUp .markItUpButton2x7 a	{ background-image:url(/img/smileys/skype/emoticon-0103-cool.gif); }
.markItUp .markItUpButton2x8 a	{ background-image:url(/img/smileys/skype/emoticon-0102-bigsmile.gif); }
.markItUp .markItUpButton2x9 a	{ background-image:url(/img/smileys/skype/emoticon-0121-angry.gif); }
.markItUp .markItUpButton2x10 a	{ background-image:url(/img/smileys/skype/emoticon-0112-wondering.gif); }
.markItUp .markItUpButton2x11 a	{ background-image:url(/img/smileys/skype/emoticon-0111-blush.gif); }
.markItUp .markItUpButton2x12 a	{ background-image:url(/img/smileys/skype/emoticon-0122-itwasntme.gif); }
.markItUp .markItUpButton2x13 a	{ background-image:url(/img/smileys/skype/emoticon-0136-giggle.gif); }
.markItUp .markItUpButton2x14 a	{ background-image:url(/img/smileys/skype/emoticon-0119-puke.gif); }
.markItUp .markItUpButton2x15 a	{ background-image:url(/img/smileys/skype/emoticon-0174-bandit.gif); }
.markItUp .markItUpButton2x16 a	{ background-image:url(/img/smileys/skype/emoticon-0172-mooning.gif); }
.markItUp .markItUpButton2x17 a	{ background-image:url(/img/smileys/skype/emoticon-0133-wait.gif); }
.markItUp .markItUpButton2x18 a	{ background-image:url(/img/smileys/skype/emoticon-0179-headbang.gif); }
.markItUp .markItUpButton2x19 a	{ background-image:url(/img/smileys/skype/emoticon-0175-drunk.gif); }
.markItUp .markItUpButton2x20 a	{ background-image:url(/img/smileys/skype/emoticon-0178-rock.gif); }
.markItUp .markItUpButton2x21 a	{ background-image:url(/img/smileys/skype/wave.gif); }
.markItUp .markItUpButton2x22 a	{ background-image:url(/img/smileys/skype/emoticon-0181-fubar.gif); }
.markItUp .markItUpButton2x23 a	{ background-image:url(/img/smileys/skype/emoticon-0173-middlefinger.gif); }
.markItUp .markItUpButton2x24 a	{ background-image:url(/img/smileys/skype/emoticon-0183-swear.gif); }
.markItUp .markItUpButton2x25 a	{ background-image:url(/img/smileys/skype/emoticon-0140-rofl.gif); }
.markItUp .markItUpButton2x26 a	{ background-image:url(/img/smileys/own/honk.gif); }
.markItUp .markItUpButton2x27 a	{ background-image:url(/img/smileys/skype/emoticon-0155-flower.gif); }
.markItUp .markItUpButton2x28 a	{ background-image:url(/img/smileys/skype/emoticon-0154-mail.gif); }
